fieldset {
    background: #F8F8FF;
    border: 0.1em solid #CCC;
    line-height: 1.5em;
    margin: 1em 0.3em;
    padding: 0.8em 1em 1em;
    -webkit-border-radius: 1.1em;
    -moz-border-radius: 1.1em;
    border-radius: 1.1em;
}
